<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">All transactions</h1>
        <form>
          <div class="form-row">
            <div class="col">
              <label for="selectYear">Select a year</label>
              <select id="selectYear" name="selectYear">
                <option *ngFor="let year of years" [selected]="year == actualDate.getFullYear()">{{year}}</option>
              </select>
            </div>
            <div class="col">
              <label for="selectMonth">Select a month</label>
              <select id="selectMonth" name="selectMonth">
                <option *ngFor="let month of months" [selected]="months.indexOf(month) == actualDate.getMonth()">{{month}}</option>
              </select>
            </div>
          </div>
        </form>
        <wed-transaction-table [fromDate]="fromDate" [toDate]="toDate"></wed-transaction-table>
      </div>
    </div>
  </div>
</div>
