<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header"><h1>All transactions</h1></div>
      <div class="card-body">
        <form>
          <h4>Filter</h4>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="selectYear">Select a year</label>
              <select id="selectYear" name="selectYear" [(ngModel)]="selectedYear" class="form-control"
                      (ngModelChange)="generateDateSpan()">
                <option *ngFor="let year of years" [selected]="year == actualDate.getFullYear()"
                        [ngValue]="year">{{year}}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="selectMonth">Select a month</label>
              <select id="selectMonth" name="selectMonth" [(ngModel)]="selectedMonth" class="form-control"
                      (ngModelChange)="generateDateSpan()">
                <option *ngFor="let month of months; let i=index"
                        [selected]="months.indexOf(month) == actualDate.getMonth()" [ngValue]="i">{{month}}</option>
              </select>
            </div>
          </div>
        </form>
        <wed-transaction-table [fromDate]="fromDate" [toDate]="toDate"></wed-transaction-table>
      </div>
    </div>
  </div>
</div>
