<div class="card">
  <div class="card-header"><h1>New payment</h1></div>
  <div class="card-body">
    <form #paymentForm="ngForm" (ngSubmit)="doTransaction()" class="needs-validation"
          novalidate *ngIf="!isSubmitted; else transactionOverview">
      <div class="form-group">
        <label for="from">From</label>
        <input type="text" name="from" class="form-control" id="from" ngModel #from="ngModel"
               disabled value="{{accountInfo?.accountNr}} [{{accountInfo?.amount | number: '.2-2'}} CHF]">
      </div>
      <div class="form-group">
        <label for="to">To</label>
        <input type="number" class="form-control" aria-describedby="toHelpBlock" id="to" placeholder="Target Account Number"
               name="to" ngModel #to="ngModel" required pattern="\d{7}" (keyup)="validTargetAccount(to)">
        <small id="toHelpBlock" class="form-text text-muted" *ngIf="!to.valid || targetAccountError?.invalid">
          Please specify the target account number.
        </small>
        <ng-container *ngIf="to.valid">
          <small class="form-text text-muted" *ngIf="targetAccount && !targetAccountError">
            {{targetAccount.owner.firstname}} {{targetAccount.owner.lastname}}
          </small>
          <small class="form-text text-muted" *ngIf="targetAccountError?.unknown">
            Unknown account number specified.
          </small>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="amount">Amount [CHF]</label>
        <input type="number" class="form-control" [min]="0.05" [max]="accountInfo?.amount" placeholder="Amount in CHF"
               pattern="^\d*?(\.\d[0,5]?)?$"
               aria-describedby="amountHelpBlock" id="amount" name="amount" ngModel #amount="ngModel" required>
        <small id="amountHelpBlock" class="form-text text-muted" *ngIf="!amount.valid">
          Please specify the amount. Between 0.05 and {{accountInfo?.amount}} !
        </small>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!paymentForm.valid || targetAccountError">Pay</button>
    </form>
    <ng-template #transactionOverview>
      <p>Transaction to {{transaction.target}} succeeded</p>
      <p>New balance CHF {{transaction.total | number:'.2'}}</p>
      <button class="btn btn-primary" (click)="startOver()">Start over</button>
    </ng-template>
  </div>
</div>
