
<ng-container *ngTemplateOutlet="isAuthenticated? authenticated : notAuthenticated">></ng-container>

<ng-template #notAuthenticated>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand">WED 3</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/welcome/" routerLinkActive="active">Home</a>
        </li>
      </ul>
    </div>
    <a class="btn btn-primary nav-link active" routerLink="/welcome/register" routerLinkActive="active">Register</a>
  </nav>
</ng-template>

<ng-template #authenticated>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <a class="navbar-brand">WED 3</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/transactions" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">Account transactions</a>
        </li>
      </ul>
      <a class="btn btn-primary nav-link active" (click)="logout()">Logout {{user.firstname}} {{user.lastname}}</a>
    </div>
  </nav>
</ng-template>
