
<ng-container *ngTemplateOutlet="isAuthenticated? authenticated : notAuthenticated"></ng-container>

<ng-template #notAuthenticated>
  <nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" routerLink="/">WED 3</a>
    <a class="btn btn-primary nav-link active" routerLink="/welcome/register">Register</a>
  </nav>
</ng-template>

<ng-template #authenticated>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" routerLink="/">WED 3</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/" routerLinkActive>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/transactions" routerLinkActive>Account transactions</a>
        </li>
      </ul>
      <a class="btn btn-primary nav-link active">Logout {{user.firstname}} {{user.lastname}}</a>
    </div>
  </nav>
</ng-template>
