<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href="#">WED 3</a>
        <a class="btn btn-primary nav-link active" routerLink="/welcome/register">Register</a>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <wed-payment></wed-payment>
    </div>
    <div class="col">
      <wed-latest-transactions></wed-latest-transactions>
    </div>
  </div>
</div>
